/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* whole page */
body {
  font-family: Arial, Helvetica, sans-serif;
}


/* navigation bar */
.nav-bar {
  position: fixed;
  width: 270px;
  height: 100vh;
  border-right: 3px solid rgb(157, 157, 157);
}

.nav-bar__header {
  border-bottom: 1px solid black;
  font-size: 1.65rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
}

.nav-bar__link {
  border-bottom: 1px solid black;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.nav-bar__link--last {
  border-bottom: none;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(98, 98, 98);
}


/* content */
.contents {
  position: relative;
  margin-left: 275px;
  padding: 2rem;

  color: rgb(98, 98, 98);
  font-size: 0.85rem;
}

.content__header {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: black;
}

.content p {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.content li {
  margin-bottom: 1rem;
  margin-left: 4rem;
}

code {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 4rem;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  height: auto;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
}


/* attribution */
.attribution {
  margin-top: 3rem;
  font-size: 0.95rem;
  color: black;
}

.attribution a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.attribution a:is(:hover, :focus) {
  color: blue;
}

/* media query */
@media (max-width: 600px) {
  .nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
  }

  .nav-bar__links {
    overflow-y: scroll;
    border-top: 3px solid rgb(157, 157, 157);
    border-bottom: 3px solid rgb(157, 157, 157);
    height: 232px;
  }
  
  .contents {
    margin-left: 0;
    margin-top: 270px;
  }
}
